@import 'Styles/base/_variables.scss';

.navLink{
display: flex;
justify-content: space-between;
align-items: center;
width: 100%;
height: 46px;
padding: 11px 15px 11px 11px;

color:$secondary-text-color;
border-radius: 8px;

font-size: 14px;
font-weight: 500;
line-height: normal;
letter-spacing: -0.14px;

transition: background-color 150ms $cubic-time-function,color 150ms $cubic-time-function;

@media screen and (min-width:426px) {
  width: 250px;
}


&:hover,
&:focus{
    background-color: $hover-bgc;
    color: $hover-text-color;
}

&:hover .navIconS,
&:hover .navIconRightS,
&:focus .navIconS,
&:focus .navIconRightS {
     stroke: currentColor;
    fill:currentColor;
}

}


.navLink {
  margin-bottom: 18px;
}

.navLink:last-child {
  margin-bottom: 0; 
}



.flex{
    display: flex;
    align-items: center;
}

.navIconS{
    margin-right: 14px;
    stroke: $icon-color;
    fill:$icon-color;
    
}

.navIconRightS{
     stroke: $icon-color;

}
