@import './utils/normalize';
@import './utils/placeholders';
@import './base/variables';
@import './base//container';
@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";


body {
  margin: 0;
  font-family:'Poppins',
    sans-serif,-apple-system, BlinkMacSystemFont,;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

color: #292D32;
font-size: 14px;
font-weight: 500;
line-height: normal;
letter-spacing: -0.14px;
 background-color: #FAFBFF;



}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

main{
  padding: 20px 0px;
  @media screen and (min-width:1440px){
    padding: 0px;
  }
 
}

  h1,
  h2,
  h3,
  h4,
  h5,
  b{padding: 0;
  margin: 0;}
  
  p{
    margin-top: 0;
    margin-bottom: 0;
  }

 

  button{
    margin: 0;
    padding: 0;
  }

  img{
    display: block;
    max-width: 100%;
    height: auto;
  }

  

  li{
    list-style: none;
    padding: 0;
    margin: 0 ;
  }

  ul{
    margin: 0;
    padding: 0;
  }

  a{
    text-decoration: none;
  }

  .active{
background-color: $hover-bgc;
color: $hover-text-color;
  }

.active .navIcon{
  stroke: $hover-text-color;
}

.active .navIconRight{
   stroke: $hover-text-color;
}

  .navIcon{
    margin-right: 14px;
    stroke: $icon-color;
    fill:$icon-color;
    
}

.navIconRight{
     stroke: $icon-color;

}

  .closeMobileBtn{
 transition: transform 0.3s ease-in-out;

 &:hover{
  transform: rotate(180deg);
}
  }

.white-container{
  position: relative;
  background-color: #fff;
  border-radius: 30px;
  padding: 15px;
  margin-left: auto;
  margin-right: auto;
  

  @media screen and (min-width:1024px) {
    width: 968px;
  }
}

.flex{
  @media screen and (min-width:768px) {
      display: flex;
    }
  

  &.center{
    @media screen and (min-width:768px) {
      align-items: center;
    }
    
  }
}
