.closeBtn{
   display: inline-flex;
  position: absolute;
  top: 10px;
  right: 10px;
  
  
  
    justify-content: center;
    align-items: center;
    border: none;
    background-color: transparent;

    width: 32px;

    @media screen and (min-width:1440px) {
      display: none;
    }

}