.header{
    padding: 8px;
    border-bottom: 1px solid black;
}

.closeBtn{
   display: inline-flex;
    justify-content: center;
    align-items: center;
    border: none;
    background-color: transparent;
   

}